<form name="signup" action="/auth/signIn" method="post">
  username: <input name="username" style="color: black" id="username" /><br />
  password: <input name="password" type="password" style="color: black" id="password" /><br />

  <input value="Sign up today " type="submit" class="btn btn-primary btn-lg" /><br />
</form>
